.action-creator-container {
    padding-bottom: 3em;
}

.action-creator-form {
    min-height: 90vh;
    overflow-y: scroll !important;
    min-width: 450px;
}

.action-creator-token-info {
    width: calc(100% - 2em);
    height: 140px;
    padding: 1em;
    background-color: #0a132d;
    color: #fff;
}

.action-creator-token-logo {
    width: 1.5em;
    height: 1.5em;
}

.action-creator-input {
    background-color: #0a132d;
}

.action-creator-textfield {
    /*min-width: 400px;*/
    width: 100%;
}

.action-creator-js-params {
    min-width: 700px;
    /*border: 1px solid #fff;*/
    /*background-color: #282c34;*/
    background-color: #0a132d;
    color: #fff;
    padding: 1em;
    border-radius: 4px;
    height: 35%;
    overflow-y: scroll;
}

.action-creator-textarea {
    min-width: 700px;
    height: 60%;
    /*border: 1px solid #fff;*/
    /*background-color: #282c34;*/
    background-color: #0a132d;
    color: #fff;
    padding: 1em;
    border-radius: 4px;
    overflow-y: scroll;
}

.action-creator-output-container {
    width: 100%;
}

.action-creator-output {
    width: calc(100% - 2em);
    min-height: 200px;
    /*border: 1px solid #fff;*/
    /*background-color: #282c34;*/
    background-color: #0a132d;
    color: #fff;
    padding: 1em;
    border-radius: 4px;
    overflow-y: scroll;
}