.center {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%)
}

.fade-in {
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}