.nav-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
    padding: 0.5em 1.5em;
    /*background-color: #fff;*/
    background-color: transparent;
    border-bottom: 1px solid #282c34
}

.nav-logo {
    height: 3em;
    /*margin-right: 1em;*/
    /*margin-left: 1em;*/
}

.app-container {
    /*background: var(--brand-primary);*/
    background: radial-gradient(100% 100% at 50% 0%, #33257f 0%, #432155 60%, transparent 100%), #0d0e0e;
    min-height: 100vh;
    /*max-height: 100%;*/
    /*padding-bottom: 3em;*/
}